*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.course-list{
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.course-item{
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    background-color: #c6c5c5;
    margin: 10px;
    width: 200px;
    height: 150px;
    border-top: 6px solid gray; 
    box-shadow: 2px 4px 5px 0 #bdbdbd;
    transition: 0.3s ease-in-out;
    background-image: url(https://geracaotech.iel-ce.org.br/images/logo-geracao-tech.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
}

.course-item:hover{
    transform: translateY(-10px);
    border-top-color: black;
}

.course-item:first-child{
    border-top: 6px solid black;
}

.course-item:first-child:hover{
    border-top-color: gray;
}

.course-item span{
    background-color: #333;
    color: white;
    font-weight: bold;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
}